
<h3 style="text-align: center">Perfil</h3>

<div class="container"  >
  <div class="card">
    <div class="card-body">
      <div class="row" style="margin-top: 30px; margin-bottom: 30px; border-bottom-color: black; border-width: medium">
        <app-card-usuario
          [nombre]="detalleUsuario.nombre"
          [urlImagen]="detalleUsuario.url"
        ></app-card-usuario>
      </div>
    </div>
  </div>
</div>

<app-peticion-en-espera></app-peticion-en-espera>
<app-peticion-transferencia-dos></app-peticion-transferencia-dos>
