<div class="container" style="margin-bottom: 20px">
      <div class="card" style="width: 22rem">
        <div class="row">
          <div class="col-sm-6">
            <img src={{urlImagen}} alt="" style="width: 100px; height: 100px; align-content: center; margin-top: 10px; margin-left: 20px">
          </div>
          <div class="col-sm-6" >
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{nombre}}</li>
              <li class="list-group-item">{{apellido}}</li>
              <li class="list-group-item">Edad: {{edad}}</li>
            </ul>
        </div>
          </div>
      </div>
    </div>


