<div class="container" style="margin-bottom: 20px">
  <div class="row" style="margin-left: 12px">
    <div class="col-sm-6" *ngFor="let info of paciente" style="margin-bottom: 15px; width: 100%; height: 10%" >
      <app-card-paciente
        [urlImagen]="info.urlPaciente"
        [nombre]="info.nombre"
        [apellido]="info.apellido"
        [edad]="info.edad"
      ></app-card-paciente>
    </div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <<ul class="pagination justify-content-center pagination-lg">
  <li [class]="class">
    <a class="page-link" (click)="cargar()" tabindex="-1">Anteriores 4 </a>
  </li>
  <li [class]="class2">
    <a class="page-link" (click)="cargarMas()" >Siguientes 4</a>
  </li>
</ul>
</nav>
