<div class="container" style="margin-bottom: 20px">
      <div class="card" style="width: 15rem">
        <div class="card-body">
          <div class="row">
              <div class="col-sm-6">
                    <p style="text-align: center">{{nombre}} </p>
                    <p style="text-align: center"> {{usadoPara}} </p>
              </div>
            <div class="col-sm-6">
                <img src={{urlImagen}} alt="" style="width: 100px; height: 100px; align-content: center; margin-top: 10px">
            </div>
          </div>
        </div>
      </div>
    </div>


